# valaxy
valaxy-fuse-list.json
public/valaxy-fuse-list.json

# valaxy rss (generated)
public/feed.xml
public/atom.xml
public/feed.json

# vite-ssg
.vite-ssg-dist
.vite-ssg-temp

# builds
dist
dist-ssr

# deps
node_modules

# caches / temp
temp/
.vite/
.cache/
.pnpm-store/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env / secrets
.env
.env.*
*.local

# OS junk
.DS_Store
Thumbs.db

# IDE
.idea/
